@model ProductDetailsViewModel
@using Webisell.Web.Controllers
@using Webisell.Web.ViewModels
@{
    ViewData["Title"] = Model.Name;
}
<div class="container">
    <div class="row"><div class="panel">    </div></div>
    <div class="row">
        <div class="panel panel-primary filter">
            <div class="panel-heading">@Model.Name</div>
            <div class="panel-body" data-name="@Model.Name">
                <div class="col-md-3">
                    <img src="~/images/test_image.png" class="col-md-12" alt="Product image" />
                </div>
                <div class="col-md-9">
                    <h3>@Model.Name</h3>
                    <hr />
                    <h4>...Details...</h4>
                </div>
            </div>
        </div>
    </div>
</div>
