@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>
    This site is designed for test purposes only.<br />
    We provide product filter page.     <br />
    And we will use Redis to cache data and oprimization.
</h3>
<h2>
    Our team is <b>Band of four</b>.
</h2>


<p><a asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a></p>
