@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<br />
<h3>
    This site is designed for test purposes only.<br />
    We provide product filter page.     <br />
    We use MongoDb to store Catalog
</h3>
<br />
<h3>
    Our team is <i>Band of four</i> students.
</h3>


<p><a asp-area="" asp-controller="Home" asp-action="" class="btn btn-default">Contacts</a></p>
